body {
    font-size: 16px;
    background-color: #eeeeee;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

header {
    position: relative;
    width: 100%;
    text-align: center;
}

a.navbar-brand {
    font-size: 1.7em;
    color: #dddddd;
    letter-spacing: -1.15;
}
.navbar {
    padding: 20px 30px;
}

li.nav-item{
    opacity: 0.7;
    color: #222222;
    text-transform: capitalize;
    padding: 15px;
}

li.nav-item a:hover {
    background: #dddddd transparent;
    color: #ffffff
}

h2 {
    letter-spacing: -1.15;
    padding-top: 30px;

}